{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h2>Closed Listings</h2>
        <div class="row">
            {% for listing in listings %}
            <div class="card" style="width: 18rem; margin: 10px;">
              <a href="{% url 'view_listing' listing.id %}"><img src="{{ listing.pic }}" class="card-img-top" alt="listing image" style=" height: 15em;"></a>
                <div class="card-body">
                  <a href="{% url 'view_listing' listing.id %}"><h5 class="card-title" style="margin-top: 10%;">{{ listing.title }}</h5></a>
                  <p class="card-text">Price: <strong>$</strong>{{listing.current_bid}}</p>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}